
table {
    width: 60%;
    border-collapse: collapse;
    border: 4px solid #FF0000; 
    margin: 20px auto;
}


#entete th {
    background-color: #FFFF66; 
    color: #000099; 
    font-style: italic; 
    text-align: center; 
    padding: 10px;
    border: 1px solid #FF0000; 
}


.impaire {
    background-color: #FFCCCC; 
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    border: 1px solid #FF0000; 
}


.paire {
    background-color: #66FFFF; 
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    border: 1px solid #FF0000; 
}